body{
	background-color: gold;
	font-family: sans-serif;
	width: 1024px;
	margin: auto;	    ´
}

header{
	display: flex;
	justify-content: space-between;
	background-color: rgb(10,10,10);
	align-items: center;
	height:70px;
	text-transform: uppercase;
}
header h1{
	
	margin:20px;
	color:rgb(240,240,240);
}
header p{
	margin-right:20px;
}
nav ol {
    width: 290px;
    height:70px;	
    display: table;
    table-layout: fixed;
}
nav li {
    display: table-cell;	
    text-align:center;
    vertical-align: middle;

}
nav li a {
    display: block;
}
a {
	color:yellow;
	
}
a:hover{
	background-color:white;
	color:black;
}
div{
	background-color:White;
	
	float:left;
}
.loginpage{
	width: 1024px;
	
	height:260px;
	
	display:grid;
	grid-template-rows: min-content auto;
}
.loginpage h2{
	text-transform: uppercase;
	margin-right:337px;
	margin-left:357px;
}
.indexpage{
	width:660px;
	height:420px;
	display:grid;
	grid-template-rows:min-content min-content auto;
	
}
aside{
	background-color:rgb(210,210,210);
	height:420px;
	width:364px;
	float:right;	
}
.para1{
	grid-column-start:1;
	grid-column-end:3;
}

div h2,h3,p,img, form{
	margin-left:20px;
	margin-bottom:10px;
	}
aside h2{margin:20px;}
footer{
	text-align:center;	
	
}
input, textarea, select, button {
  
  width : 350px;
  height: 30px;
  padding: 0;

  margin-top:5px;
  box-sizing: border-box;
  
}
input{
	border: 2px solid rgb(50,50,50);
	border-radius: 4px;
}
form{
  border-radius: 25px;
  border: 2px solid rgb(50,50,50);
  width:350px;
  padding: 20px;
  margin-left:337px;
  margin-right:337px;

}
.myButton {
	background-color:#44c767;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;	
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton2 {
	background-color:#e4685d;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;	
}
.myButton2:hover {
	background-color:#eb675e;
}
.myButton2:active {
	position:relative;
	top:1px;
}


